.BookUproadbar {
  /* 메인 탑바 대신 왼쪽바 */
  position: relative;
  height: 85rem;
}
.BookUproadeep {
  /* eep */
  position: absolute;
  width: 5rem;
  height: 10rem;
  left: 10.5rem;
  top: 6.2rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 50px;
  text-align: center;
  color: #444e9d;
  z-index: 9999;
}
.BookUproadlogo {
  /* KEEP 로고 */
  position: absolute;
  top: 6.25rem;
  left: 7rem;
  z-index: 9999;
}
.BookUproadbackground {
  /* 배경 색상 넣고 배경 범위 정하기 */
  background-color: #f5f6f8;
  height: 68.5rem;
}

.BookUproaddivisionBar {
  /* 로그인 회원가입 구분선 */
  position: relative;
  bottom: 79rem;
  left: 85.6rem;
  width: 5px;
}
.BookUproadspanTag {
  /* navigate 묶음 */
  position: relative;
  width: 146px;
  height: 24px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #444e9d;
}
.BookUproadSignupSpan {
  /* 회원가입 navigate */
  position: relative;
  left: 110rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}

.BookUproadLoginSpan {
  /* 로그인 navigate */
  position: relative;
  left: 99rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.BookUproadhomeSpan {
  /* 홈 navigate */
  position: absolute;
  left: 5.2rem;
  bottom: 66rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookUproadSpan {
  /* 현재 페이지 navigate */
  position: absolute;
  left: 1.7rem;
  bottom: 62rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 25px;
  text-align: center;
  color: #444e9d;
  z-index: 999;
}
.BookUproadbookOfficerSpan {
  /* 도서/기기 관리 navigate */
  position: absolute;
  left: 1.2rem;
  bottom: 58rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookUproadstudentInfoSpan {
  /* 학생 정보 입력 navigate */
  position: absolute;
  left: 1.2rem;
  bottom: 54rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookUproadcontectSpan {
  /* 비상 연락처 navigate */
  position: absolute;
  left: 0.2rem;
  bottom: 50rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookUproadment {
  /* 도서 기기 등록 */
  position: absolute;
  width: 14rem;
  height: 2.5rem;
  left: 31.2rem;
  top: 10rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #182149;
}
.BookUproadment2 {
  /* 도서 기기의 기본 정보를 등록해주세요 */
  position: absolute;
  width: 20rem;
  height: 1rem;
  left: 31.2rem;
  top: 12.9rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #424242;
}
.BookUproadbuttonBack {
  /* navigate 백그라운드 색깔 영역을 말함 */
  left: 3.8rem;
  z-index: 99;
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 21.9rem;
}
.input-file-button {
  /* 찾아보기 인풋태그 */
  box-sizing: border-box;
  position: absolute;
  width: 9rem;
  height: 3.2rem;
  left: 89.5rem;
  background: #ffffff;
  padding-top: 13px;
  border: 0.5px solid #000000;
  border-radius: 30px;
  text-align: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #1c73e8;
  bottom: 32.4rem;
}
.BookUproadrlrl {
  /* 내 기기에서 */
  position: absolute;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  bottom: 32rem;
  left: 83rem;
  width: 5.8rem;
}
.uproadpicture {
  /* 업로드 영역 가운데 사진 */
  position: absolute;
  left: 48rem;
  bottom: 47rem;
  width: 15rem;
}
