.BookEntryForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  width: 41rem;
  height: 31rem;
  z-index: 9999;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #000;
}

.BookEntryForm input,
.BookEntryForm select,
.BookEntryForm button {
  margin-top: 5px;
  padding-left: 7px;
  font-size: 18px;
}

.BookEntryForm form {
  display: flex;
}
.BookEntryForm h2 {
  text-align: center;
}
.BookEntryForm label {
  margin-bottom: 10px;
}
.EntryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  width: 72px;
  height: 39px;
  left: 490px;
  top: 370px;
  background: #2c99f5;
  border-style: none;
  border-radius: 10px !important;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17.6px !important;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}
.EntryCancelBtn {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  z-index: 9999;
  position: absolute;
  width: 72px;
  height: 39px;
  left: 412px;
  top: 370px;
  background: #dee8f5;
  border-style: none;
  border-radius: 10px !important;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17.6px !important;
  line-height: 21px;
  color: #000000;
}
.input {
  margin-left: 10px;
}
.Uproad {
  position: absolute;
  width: 149px;
  height: 96px;
  left: 30px;
  top: 90px;
}
.BookEntryMent {
  position: absolute;
  width: 93px;
  height: 30px;
  left: 60px;
  top: 40px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #181e36;
  cursor: default;
}
.EntryTitle {
  position: absolute;
  display: flex;
  width: 100px;
  height: 22px;
  left: 340px;
  top: 130px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
}
.EntryAuthor {
  position: absolute;
  display: flex;
  width: 100px;
  height: 22px;
  top: 210px;
  left: 340px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
}
.AuthorInput {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  left: 340px;
  top: 230px;
  width: 250px;
  height: 34px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-left: 7px;
  font-size: 18px;
  outline: none;
}

.TitleInput {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  left: 340px;
  top: 150px;
  width: 250px;
  height: 34px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-left: 7px;
  font-size: 18px;
  outline: none;
}

.UproadContainer {
  box-sizing: border-box;
  position: absolute;
  width: 221px;
  height: 298px;
  left: 60px;
  top: 130px;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  align-items: center;
}
.UploadMent {
  position: absolute;
  display: flex;
  width: 119px;
  height: 36px;
  left: 45px;
  top: 200px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #2c99f5;
  cursor: pointer;
}
.imgResultMent {
  position: absolute;
  display: flex;
  left: 5px;
  top: 230px;
  font-size: 13px;
}
