.BookOfficerdivisionBar {
  position: absolute;
  top: 5.8%;
  left: 92.9%;
  width: 0.2rem;
  height: 2.5%;
  background: #5589fe;
}

.BookOfficerspanTag {
  position: absolute;
  top: 5.6%;
  left: 88%;
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #5589fe;
}

.BookOfficerbuttonBack {
  position: absolute;
  top: 32.4%;
  left: 2.1%;
  width: 12rem;
  height: 3.5rem;
  z-index: 99;
}

.BookOfficerSignupSpan,
.BookOfficerLoginSpan {
  cursor: pointer;
}

.BookOfficerhomeSpan {
  position: absolute;
  left: 3%;
  top: 28%;
  width: 5rem;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  text-align: center;
  z-index: 9;
  cursor: pointer;
}

.BookOfficerSpan {
  position: absolute;
  display: flex;
  left: 3%;
  top: 33.5%;
  width: 10%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.65vw;
  color: #5589fe;
  z-index: 99;
  cursor: pointer;
}

.BookOfficerdeviceSpan {
  position: absolute;
  display: flex;
  left: 3%;
  top: 40%;
  width: 8%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 99;
  cursor: pointer;
}

.BookOfficerstudentInfoSpan {
  position: absolute;
  display: flex;
  left: 2.9%;
  width: 10%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 99;
  cursor: pointer;
}

.BookOfficerEmergencySpan {
  position: absolute;
  display: flex;
  left: 3%;
  width: 8%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 99;
  top: 52%;
  cursor: pointer;
}

.BookOfficerbookOfficerSpan {
  top: 35%;
}
.BookOfficerstudentInfoSpan {
  top: 46%;
}

.BookOfficercontectSpan {
  top: 50%;
}

.BookOfficerment {
  position: absolute;
  top: 18%;
  left: 28.7%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 2.0625rem;
  color: #000;
  cursor: default;
}
.BookOfficerment2 {
  position: absolute;
  top: 22%;
  left: 28.7%;
  width: 30%;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  cursor: default;
}

.BookOfficerTable {
  position: absolute;
  width: 100%;
  max-width: 64rem;
  height: auto;
  left: 30.5rem;
  top: 25.75rem;
  border: #d7e2eb solid 0.0625rem;
  border-collapse: collapse;
  border-radius: 0.3125rem;
  cursor: default;
  overflow-y: auto;
}

.BookOfficerTable table {
  width: 100%;
  border-collapse: collapse;
}

.BookOfficerTable th,
.BookOfficerTable td {
  border-bottom: 0.0625rem solid #d7e2eb;
  padding: 1.125rem;
  text-align: center;
  vertical-align: middle;
}

.BookOfficerTable th {
  color: #98a7b9;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.BookOfficerTable td {
  font-family: "Pretendard", sans-serif;
  font-size: 1.375rem;
  position: relative;
}
.checkBox {
  border: 0.075rem solid #000;
  border-radius: 0.1875rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  transform: translateX(-1rem);
}

.BookOfficerTable .title {
  text-align: left;
  padding-left: 1.875rem;
}

.BookOfficerTable .registrationDate,
.BookOfficerTable .availability,
.BookOfficerTable th.registrationDate,
.BookOfficerTable th.availability {
  text-align: center;
  padding-left: 1.875rem;
}

.SortDropdownWrapper {
  position: absolute;
  z-index: 9;
  font-size: 1.5625rem;
  font-weight: 600;
  display: flex;
  left: 30.5rem;
  top: 22.2rem;
}

.SortDropdown {
  position: absolute;
  display: flex;
  width: 7.8125rem;
  height: 2.1875rem;
  border: 0.0625rem solid #d7e2eb;
  border-radius: 0.3125rem;
  font-family: "Pretendard";
  font-size: 1.1875rem;
  font-weight: 600;
  padding-left: 1vw;
  color: #3e3e3e;
  cursor: pointer;
  background-color: #fff;
  outline-style: none;
}

.SortDropdown select {
  width: 100%;
  height: 100%;
  border: none; /* 기본 테두리 제거 */
  font-family: "Pretendard";
  font-size: 1.1875rem;
  font-weight: 600;
  background-color: #fff; /* 선택된 배경색 지정 */
}

.SortDropdown option {
  font-family: "Pretendard";
}

.questionimg {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  left: 91.5rem;
  top: 18.05rem;
  z-index: 99;
}
.active {
  position: absolute;
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  top: 105%;
  left: 50rem;
  z-index: 999;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.active1 {
  position: absolute;
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  top: 105%;
  left: 50rem;
  z-index: 999;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 2.5rem;
}
