.BookOfficerbar {
  /* 메인 탑바 대신 왼쪽바 */
  position: relative;
  height: 85rem;
}
.BookOfficereep {
  position: absolute;
  width: 5rem;
  height: 10rem;
  left: 10.5rem;
  top: 6.2rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 50px;
  text-align: center;
  color: #444e9d;
  z-index: 9999;
}
.BookOfficerlogo {
  /* KEEP 로고 */
  position: absolute;
  top: 6.25rem;
  left: 7rem;
  z-index: 9999;
}
.BookOfficerbackground {
  /* 배경 색상 넣고 배경 범위 정하기 */
  background-color: #f5f6f8;
  height: 68.5rem;
}

.BookOfficerdivisionBar {
  /* 로그인 회원가입 구분선 */
  position: relative;
  bottom: 79rem;
  left: 85.6rem;
  width: 5px;
}
.BookOfficerspanTag {
  position: relative;
  width: 146px;
  height: 24px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #444e9d;
}
.BookOfficerSignupSpan {
  position: relative; /* 회원가입 navigate */
  left: 110rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.BookOfficerLoginSpan {
  position: relative; /* 로그인 navigate */
  left: 99rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.BookOfficerhomeSpan {
  position: absolute;
  left: 5.2rem;
  bottom: 66rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookOfficerbookUproadSpan {
  position: absolute;
  left: 1.2rem;
  bottom: 62rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookOfficerbookOfficerSpan {
  position: absolute;
  left: 4rem;
  bottom: 58rem;
  width: 235px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 25px;
  text-align: center;
  color: #444e9d;
  z-index: 99;
}
.BookOfficerstudentInfoSpan {
  position: absolute;
  left: 1.2rem;
  bottom: 54rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookOfficercontectSpan {
  position: absolute;
  left: 0.2rem;
  bottom: 50rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.BookOfficerment {
  position: absolute;
  width: 240px;
  height: 36px;
  left: 500px;
  top: 162px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #182149;
}
.BookOfficerment2 {
  position: absolute;
  width: 304px;
  height: 20px;
  left: 500px;
  top: 210px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #424242;
}
.BookOfficerbuttonBack {
  left: 60px;
  z-index: 99;
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 415px;
}
