.BookEntry {
  position: relative;
}

.BookOfficerBlur {
  filter: blur(5px);
  opacity: 0.7;
}

.BookEntryForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.BookEntryForm h2 {
  text-align: center;
}

.BookEntryForm form {
  display: flex;
  flex-direction: column;
}

.BookEntryForm label {
  margin-bottom: 10px;
}

.BookEntryForm input,
.BookEntryForm select,
.BookEntryForm button {
  margin-top: 5px;
}

.BookEntryForm button {
  align-self: center;
  padding: 10px 20px;
  background-color: #3182f7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.BookEntryForm button:hover {
  background-color: #1e6bb8;
}
