.Devicebar {
  /* 메인 탑바 대신 왼쪽바 */
  position: relative;
  height: 85rem;
}
.Deviceeep {
  /* eep */
  position: absolute;
  width: 5rem;
  height: 10rem;
  left: 10.5rem;
  top: 6.2rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 50px;
  text-align: center;
  color: #444e9d;
  z-index: 9999;
}
.Devicelogo {
  /* KEEP 로고 */
  position: absolute;
  top: 6.25rem;
  left: 7rem;
  z-index: 9999;
}
.Devicebackground {
  /* 배경 색상 넣고 배경 범위 정하기 */
  background-color: #f5f6f8;
  height: 68.5rem;
}

.DevicedivisionBar {
  /* 로그인 회원가입 구분선 */
  position: relative;
  bottom: 79rem;
  left: 85.6rem;
  width: 5px;
}
.DevicespanTag {
  /* navigate 묶음 */
  position: relative;
  width: 146px;
  height: 24px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #444e9d;
}
.DeviceSignupSpan {
  /* 회원가입 navigate */
  position: relative;
  left: 110rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}

.DeviceLoginSpan {
  /* 로그인 navigate */
  position: relative;
  left: 99rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.DevicehomeSpan {
  /* 홈 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 66rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
  z-index: 99;
}
.DevicebookOfficerSpan {
  /* 도서 관리 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 62rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #8c8d97;
  z-index: 99;
}
.DeviceSpan {
  /* 현재 페이지 navigate */
  position: absolute;
  display: flex;
  bottom: 58rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  text-align: center;
  left: 5.2rem;
  font-weight: 600;
  font-size: 35px;
  color: #444e9d;
  z-index: 99;
}
.DevicestudentInfoSpan {
  /* 학생 정보 입력 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 54rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #8c8d97;
  z-index: 99;
}
.DevicecontectSpan {
  /* 비상 연락처 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 50rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #8c8d97;
  z-index: 99;
}
.DevicebuttonBack {
  /* navigate 백그라운드 색깔 영역을 말함 */
  left: 3.8rem;
  z-index: 99;
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 26rem;
}
.Devicetitle {
  /* 메인 멘트 */
  position: absolute;
  width: 14rem;
  height: 2.5rem;
  left: 31rem;
  top: 10rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #182149;
}
.DeviceMent {
  position: absolute;
  width: 20rem;
  height: 1rem;
  left: 31.2rem;
  top: 12.9rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #424242;
}
.DeviceSearch {
  position: absolute;
  width: 60rem;
  height: 4rem;
  left: 40rem;
  top: 25rem;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d7e2eb;
}
.DeviceSearch ::placeholder {
  /* 기기 이름을 검색해주세요. */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #cdd7e0;
}
.DeviceTable {
  position: absolute;
  width: 60rem;
  height: auto;
  left: 40rem;
  top: 30rem;
  border: #d7e2eb solid 1px;
  border-collapse: collapse;
}

.DeviceTable table {
  width: 100%;
  border-collapse: collapse;
}

.DeviceTable th,
.DeviceTable td {
  border-bottom: 1px solid #d7e2eb; /* 가로선 추가 */
  padding: 20px; /* 패딩을 20px로 증가 */
  text-align: center;
  vertical-align: middle;
}

.DeviceTable th {
  color: #98a7b9;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 25px; /* 글씨 크기를 30px로 증가 */
}

.DeviceTable td {
  font-family: "Pretendard", sans-serif;
  font-size: 23px; /* 글씨 크기를 28px로 증가 */
}
