.Devicebackground {
  background-color: #f5f6f8;
  height: 68.5rem;
}

.DevicedivisionBar {
  position: absolute;
  top: 5.8%;
  left: 92.9%;
  width: 0.2rem;
  height: 2.5%;
  background: #5589fe;
}

.DevicehomeSpan {
  position: absolute;
  left: 3%;
  top: 28%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  text-align: center;
  z-index: 9;
  cursor: pointer;
}
.DevicebookOfficerSpan {
  position: absolute;
  left: 3%;
  top: 33.5%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  text-align: center;
  z-index: 9;
  cursor: pointer;
}
.DeviceSpan {
  position: absolute;
  display: flex;
  left: 3%;
  top: 40%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.65vw;
  color: #5589fe;
  z-index: 99;
  cursor: pointer;
}
.DevicestudentInfoSpan {
  position: absolute;
  display: flex;
  left: 2.9%;
  top: 46%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 9;
  cursor: pointer;
}
.DevicecontectSpan {
  position: absolute;
  display: flex;
  left: 3%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 9;
  top: 52%;
  cursor: pointer;
}
.DeviceDamageSpan {
  position: absolute;
  display: flex;
  left: 3%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 9;
  width: 9.4%;
  top: 58%;
  cursor: pointer;
}

.DevicebuttonBack {
  position: absolute;
  top: 38.8%;
  left: 2.1%;
  width: 12rem;
  height: 3.5rem;
  z-index: 99;
}
.Devicetitle {
  position: absolute;
  top: 18%;
  left: 28.7%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 2.0625rem;
  color: #000;
  cursor: default;
}
.DeviceMent {
  position: absolute;
  top: 22%;
  left: 28.7%;
  width: 30%;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  cursor: default;
}
.DeviceSearch {
  outline-style: none;
  position: absolute;
  width: 60%;
  height: 6.92%;
  left: 28.5%;
  top: 27%;
  padding: 0.5rem;
  font-size: 1.1875rem;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 0.0625rem solid #d7e2eb;
}
.DeviceSearch::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.3125rem;
  display: flex;
  align-items: center;
  color: #cdd7e0;
}
.questionimage {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  left: 91.5rem;
  top: 18.05rem;
  z-index: 9;
}
.DeviceTable {
  position: absolute;
  width: 100%;
  max-width: 64rem;
  height: auto;
  left: 58.5%;
  top: 25.75rem;
  transform: translateX(-50%);
  border: #d7e2eb solid 0.0625rem;
  border-collapse: collapse;
  cursor: default;
  border-radius: 0.3125rem;
  background-color: #fff;
  overflow-x: auto;
  overflow-y: auto;
}

.DeviceTable table {
  width: 100%;
  border-collapse: collapse;
}

.DeviceTable th,
.DeviceTable td {
  border-bottom: 0.0625rem solid #d7e2eb;
  padding: 1.125rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.DeviceTable th {
  color: #98a7b9;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.DeviceTable td {
  font-family: "Pretendard", sans-serif;
  font-size: 1.375rem;
  position: relative;
}

.DeviceTable td input[type="checkbox"] {
  transform: scale(1.5);
  position: absolute;
  left: -2.1875rem;
  bottom: 1.3125rem;
}

@media (max-width: 1024px) {
  .DeviceTable {
    width: 90%;
  }

  .DeviceTable th,
  .DeviceTable td {
    padding: 0.75rem;
    font-size: 1.25rem;
  }

  .DeviceTable td input[type="checkbox"] {
    left: -1.5rem; /* 체크박스 위치 조정 */
  }
}

@media (max-width: 768px) {
  .DeviceTable {
    width: 100%;
    left: 0;
    transform: none;
    top: 20rem;
  }

  .DeviceTable th,
  .DeviceTable td {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .DeviceTable td input[type="checkbox"] {
    left: -1rem;
  }
}

.SortDropdown select {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  background: transparent;
}

.SortDropdown option {
  font-size: 1.25rem;
}
.RegisterButton {
  position: absolute;
  width: 9.6875rem;
  height: 2.583125rem;
  left: 84rem;
  top: 22.2rem;
  background: #5589fe;
  border-style: none;
  border-radius: 1.5625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
