.BookEditMent {
  position: absolute;
  width: 5.8125rem;
  height: 1.875rem;
  left: 3.75rem;
  top: 4.375rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #181e36;
  cursor: default;
}

.BookEditForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  width: 41rem;
  height: 31rem;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0 0.1875rem 1.25rem rgba(0, 0, 0, 0.25));
}
.EditTitle {
  position: absolute;
  display: flex;
  width: 6.25rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 9.0625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.BookEditTitleInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 11.25rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.EditAuthor {
  position: absolute;
  width: 6.25rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 13.75rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.BookEditAuthorInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 15.9375rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.BookEditReg {
  position: absolute;
  width: 9.375rem;
  height: 1.375rem;
  left: 20rem;
  top: 16.875rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 450;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.BookEditRegInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  right: 8.125rem;
  top: 18.75rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.fileInput {
  display: none;
}

.EditCancelButton {
  position: absolute;
  width: 4.5rem;
  height: 2.4375rem;
  left: 28.75rem;
  top: 26.875rem;
  background: rgba(236, 23, 23, 0.6);
  border-style: none;
  border-radius: 0.625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #ffffff;
}
.fileLabel {
  z-index: 9;
  position: absolute;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  top: 25.5rem;
  left: 8.2rem;
  line-height: 1.5rem;
  color: #5589fe;
  cursor: pointer;
  object-fit: cover;
}
