.DeviceEditForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  width: 41rem;
  height: 31rem;
  z-index: 9999;
  background: rgba(255, 255, 255, 1);
}
.DeviceEditMent {
  position: absolute;
  width: 93px;
  height: 30px;
  left: 60px;
  top: 50px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #181e36;
  cursor: default;
}
.EditTitle {
  position: absolute;
  display: flex;
  width: 100px;
  height: 22px;
  left: 340px;
  top: 130px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
}
.ContentArea {
  flex: 1;
  background-color: #f0f0f0; 
  padding: 20px;
  height: 950px;
}
.DeviceEditTitleInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 345px;
  top: 180px;
  font-family: "Pretendard" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;
  color: #000000 !important;
  outline: none;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  left: 102px;
  top: 360px;
  width: 160px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #3182f7;
  /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}
.EditCancelButton {
  position: absolute;
  display: flex;
  width: 72px;
  height: 39px;
  left: 410px;
  top: 370px;
  background: rgba(236, 23, 23, 0.6);
  border-style: none;
  border-radius: 10px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  z-index: 999;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}
.DeviceEditUproad {
  box-sizing: border-box;
  position: absolute;
  width: 203px;
  height: 245px;
  left: 60px;
  top: 120px;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
}
.fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  left: 102px;
  top: 360px;
  width: 160px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #3182f7;
  /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}
.preview-image {
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  height: 285px;
  left: 60px;
  top: 140px;
  border: 0.4px solid #5c5c5c;
  border-radius: 10px;
}
