.Emergencybar {
  /* 메인 탑바 대신 왼쪽바 */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.Emergencyeep {
  /* eep */
  position: absolute;
  top: 4.3%;
  left: 6.2%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 3.3125rem;
  color: #5899f5;
  z-index: 99;
  cursor: default;
}
.Emergencylogo {
  /* KEEP 로고 */
  position: absolute;
  top: 5%;
  left: 3.2%;
  max-width: 10rem;
  z-index: 99;
  width: 3rem;
}

.EmergencydivisionBar {
  /* 로그인 회원가입 구분선 */
  position: absolute;
  top: 5.8%;
  left: 92.9%;
  width: 0.2rem;
  height: 2.5%;
  background: #5899f5;
}
.EmergencyLoginSpan {
  cursor: pointer;
  position: absolute;
  top: 5.6%;
  right: 3.15%;
  align-self: start;
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #5899f5;
}
.EmergencySignupSpan {
  position: absolute;
  top: 5.6%;
  right: 7.45%;
  align-self: start;
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #5899f5;
  cursor: pointer;
}
.EmergencyhomeSpan {
  /* 홈 navigate */
  position: absolute;
  left: 3%;
  top: 28%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.EmergencybookOfficerSpan {
  /* 도서 관리 navigate */
  position: absolute;
  left: 3%;
  top: 33.5%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.EmergencyDeviceSpan {
  position: absolute;
  display: flex;
  left: 3%;
  top: 40%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  z-index: 99;
  cursor: pointer;
}
.EmergencystudentInfoSpan {
  /* 학생 정보 입력 navigate */
  position: absolute;
  display: flex;
  left: 2.9%;
  top: 46%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  z-index: 99;
  cursor: pointer;
}
.EmergencySpan {
  /* 비상 연락처 navigate */
  position: absolute;
  display: flex;
  left: 3%;
  top: 52%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.55vw;
  color: #5899f5;
  z-index: 99;
  cursor: pointer;
}
.Emergencyment {
  /* 비상연락처 */
  position: absolute;
  top: 18%;
  left: 28.7%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 2.0625rem;
  color: #000;
  cursor: default;
}
.Emergencyment2 {
  /* 손쉽게 학생 정보를 확인하세요. */
  position: absolute;
  top: 22%;
  left: 28.7%;
  width: 30%;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  cursor: default;
}
.EmergencybuttonBack {
  /* navigate 백그라운드 색깔 영역을 말함 */
  position: absolute;
  top: 50.8%;
  left: 1.7%;
  width: 12rem;
  height: 3.5rem;
  z-index: 99;
}
.EmergencyContent {
  position: absolute;
  left: 31.2rem;
  top: 18rem;
  display: flex;
  gap: 35px;
}
.EmergencyGrid {
  display: grid;
  gap: 23px 25px;
  grid-template-columns: repeat(4, 1fr);
}
.EmergencyCard {
  width: 152px;
  height: 116px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.EmergencyCardImage {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #d9d9d9;
  cursor: default;
}
.EmergencyCardName {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 4px;
  cursor: default;
}
.EmergencyCardNumber {
  color: #adadad;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -2px;
  cursor: default;
}
.EmergencyCardCircle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid #a8a8a8;
  position: absolute;
  top: 6px;
  right: 11px;
}
.EmergencyFilter {
  width: 288px;
  height: 335px;
  border-radius: 15px;
  background: #fff;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EmergencyFilterTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.EmergencyFilterTitle {
  color: #444e9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.EmergencyFilterReset {
  color: #666464;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  cursor: pointer;
}
.EmergencyFilterSearch {
  width: 256px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f0efef;
  color: #666464;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  margin-top: 11px;
  margin-bottom: 7px;
}
.EmergencyFilterSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}
.EmergencyFilterSectionTitle {
  color: #5f5d5d;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.EmergencyFilterSectionButtonWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.EmergencyFilterSectionButton {
  width: 42px;
  height: 26px;
  border-radius: 8px;
  border: 0.1px solid #000;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.EmergencyFilterSectionButtonActive {
  width: 42px;
  height: 26px;
  border-radius: 8px;
  background: #838ef6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.EmergencyFilterSectionSelect {
  width: 77px;
  height: 26px;
  border-radius: 8px;
  border: 0.1px solid #000;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  color: 000;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  cursor: pointer;
}
.EmergencyFilterButton {
  width: 77px;
  height: 26px;
  border-radius: 8px;
  background: #838ef6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 12px;
  cursor: pointer;
}
.EmergencyModalBg {
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.38);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.EmergencyModal {
  width: 592px;
  height: 452px;
  border-radius: 15px;
  background: #fff;
  padding: 67px;
  box-sizing: border-box;
  z-index: 1000;
  cursor: default;
}
.EmergencyModalTitle {
  color: #181e36;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: default;
}
.EmergencyModalContent {
  display: flex;
  gap: 49px;
  margin-left: 39px;
}
.EmergencyModalImage {
  width: 178px;
  height: 222px;
  border-radius: 5px;
  background: #d9d9d9;
}
.EmergencyModalContentRight {
  display: flex;
  flex-direction: column;
}
.EmergencyModalContentTitle {
  color: #181e36;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 13px;
  margin-bottom: 34px;
}
.EmergencyModalContentText {
  color: #5f5e5e;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
.EmergencyModalContentButton {
  width: 105px;
  height: 27px;
  border-radius: 7px;
  background: #6c7af4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  border: none;
  margin-top: 6px;
  cursor: pointer;
}
