.Emergencybar {
  /* 메인 탑바 대신 왼쪽바 */
  position: relative;
  height: 85rem;
}
.Emergencyeep {
  /* eep */
  position: absolute;
  width: 5rem;
  height: 10rem;
  left: 10.5rem;
  top: 6.2rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 50px;
  text-align: center;
  color: #5899f5;
  z-index: 9999;
}
.Emergencylogo {
  /* KEEP 로고 */
  position: absolute;
  top: 6.25rem;
  left: 7rem;
  z-index: 9999;
}
.Emergencybackground {
  /* 배경 색상 넣고 배경 범위 정하기 */
  background-color: #f5f6f8;
  height: 68.5rem;
}

.EmergencydivisionBar {
  /* 로그인 회원가입 구분선 */
  position: relative;
  bottom: 79rem;
  left: 85.6rem;
  width: 5px;
}
.EmergencyspanTag {
  /* navigate 묶음 */
  position: relative;
  width: 146px;
  height: 24px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #444e9d;
}
.EmergencySignupSpan {
  /* 회원가입 navigate */
  position: relative;
  left: 110rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}

.EmergencyLoginSpan {
  /* 로그인 navigate */
  position: relative;
  left: 99rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.EmergencyhomeSpan {
  /* 홈 navigate */
  position: absolute;
  left: 5.2rem;
  bottom: 66rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
}
.EmergencybookOfficerSpan {
  /* 도서 관리 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 62rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
  font-weight: 600;
  font-size: 30px;
}
.EmergencyDeviceSpan {
  /* 기기 관리 */
  position: absolute;
  left: 5.2rem;
  display: flex;
  bottom: 58rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
}
.EmergencystudentInfoSpan {
  /* 학생 정보 입력 navigate */
  position: absolute;
  left: 1.2rem;
  bottom: 54rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
}
.EmergencySpan {
  /* 비상연락처 navigate */
  position: absolute;
  left: 1rem;
  bottom: 50rem;
  width: 19rem;
  font-weight: 600;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  color: #444e9d;
  font-size: 35px;
  text-align: center;
  z-index: 999;
}
.Emergencyment {
  /* 비상연락처 */
  position: absolute;
  width: 14rem;
  height: 2.5rem;
  left: 31.2rem;
  top: 10rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #182149;
}
.Emergencyment2 {
  /* 손쉽게 학생 정보를 확인하세요. */
  position: absolute;
  width: 20rem;
  height: 1rem;
  left: 31.2rem;
  top: 12.9rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #424242;
}
.EmergencybuttonBack {
  /* navigate 백그라운드 색깔 영역을 말함 */
  left: 3.8rem;
  z-index: 99;
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 34rem;
}
.EmergencyContent {
  position: absolute;
  left: 31.2rem;
  top: 18rem;
  display: flex;
  gap: 35px;
}
.EmergencyGrid {
  display: grid;
  gap: 23px 25px;
  grid-template-columns: repeat(4, 1fr);
}
.EmergencyCard {
  width: 152px;
  height: 116px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.EmergencyCardImage {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #d9d9d9;
}
.EmergencyCardName {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 4px;
}
.EmergencyCardNumber {
  color: #adadad;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -2px;
}
.EmergencyCardCircle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid #a8a8a8;
  position: absolute;
  top: 6px;
  right: 11px;
}
.EmergencyFilter {
  width: 288px;
  height: 335px;
  border-radius: 15px;
  background: #fff;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EmergencyFilterTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.EmergencyFilterTitle {
  color: #444e9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.EmergencyFilterReset {
  color: #666464;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
}
.EmergencyFilterSearch {
  width: 256px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f0efef;
  color: #666464;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  margin-top: 11px;
  margin-bottom: 7px;
}
.EmergencyFilterSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}
.EmergencyFilterSectionTitle {
  color: #5f5d5d;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.EmergencyFilterSectionButtonWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.EmergencyFilterSectionButton {
  width: 42px;
  height: 26px;
  border-radius: 8px;
  border: 0.1px solid #000;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.EmergencyFilterSectionButtonActive {
  width: 42px;
  height: 26px;
  border-radius: 8px;
  background: #838ef6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.EmergencyFilterSectionSelect {
  width: 77px;
  height: 26px;
  border-radius: 8px;
  border: 0.1px solid #000;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  color: 000;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.EmergencyFilterButton {
  width: 77px;
  height: 26px;
  border-radius: 8px;
  background: #838ef6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 12px;
}
.EmergencyModalBg {
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.38);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.EmergencyModal {
  width: 592px;
  height: 452px;
  border-radius: 15px;
  background: #fff;
  padding: 67px;
  box-sizing: border-box;
  z-index: 1000;
}
.EmergencyModalTitle {
  color: #181e36;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.EmergencyModalContent {
  display: flex;
  gap: 49px;
  margin-left: 39px;
}
.EmergencyModalImage {
  width: 178px;
  height: 222px;
  border-radius: 5px;
  background: #d9d9d9;
}
.EmergencyModalContentRight {
  display: flex;
  flex-direction: column;
}
.EmergencyModalContentTitle {
  color: #181e36;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 13px;
  margin-bottom: 34px;
}
.EmergencyModalContentText {
  color: #5f5e5e;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
.EmergencyModalContentButton {
  width: 105px;
  height: 27px;
  border-radius: 7px;
  background: #6c7af4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  border: none;
  margin-top: 6px;
}
