.SigninbrandName {
  position: absolute;
  width: 19.06%;
  height: 8.33%;
  left: 45.6%;
  top: 28%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.75vw;
  line-height: 4.13vw;
  text-align: center;
  display: flex;
  color: #ffffff;
  cursor: default;
}

.Signinlogoimg {
  position: absolute;
  width: 4%;
  height: 6%;
  left: 48%;
  top: 22%;
  display: flex;
}

.Signinemail {
  left: 38%;
  top: 42.2%;
  position: absolute;
  display: flex;
  width: 9.61%;
  height: 2.22%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1.15vw;
  line-height: 1.44vw;
  color: #ffffff;
}
.SigninemailFormat {
  position: absolute;
  width: 6.25%;
  height: 1.78%;
  left: 41.5%;
  top: 42.8%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 0.81vw;
  line-height: 100%;
  text-align: center;
  color: #c9e2ff;
  cursor: default;
}
.SigninemailInputBox {
  left: 37.5%;
  top: 45.5%;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0.625rem;
  display: flex;
  width: 25.5%;
  height: 5%;
  background: rgba(255, 255, 255, 0.7);
  border: 0.03vw solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  outline-style: none;
  padding-left: 0.44%;
  font-size: 1.13vw;
}
.Signinpassword {
  display: flex;
  left: 38%;
  top: 54.5%;
  position: absolute;
  width: 9.61vw;
  height: 2.22vh;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1.15vw;
  line-height: 115%;
  color: #ffffff;
}
.SigninpasswordInputBox {
  display: flex;
  position: absolute;
  left: 37.5%;
  top: 57.8%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  border: 0.03vw solid rgba(255, 255, 255, 0.8);
  border-radius: 0.625rem;
  width: 25.5%;
  height: 5%;
  cursor: pointer;
  outline-style: none;
  padding-left: 0.44%;
  font-size: 1.13vw;
}
.Signinbutton {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 6.88%;
  height: 4.56%;
  left: 47%;
  top: 71%;
  background: #fafcff;
  box-shadow: 0.25vw 0.25vw 0.938vw rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1.19vw;
  line-height: 1.22vw;
  text-align: center;
  color: #5589FE;
  cursor: pointer;
}
.Signinnavigate {
  position: absolute;
  width: 12.38%;
  height: 2%;
  left: 51%;
  top: 63.5%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 310;
  font-size: 1.13vw;
  line-height: 1.31vw;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
