.SigninbrandName {
  position: absolute;
  width: 305px;
  height: 75px;
  left: 780px;
  top: 275px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  display: flex;
  color: #ffffff;
  cursor: default;
}
.Signinlogoimg {
  position: absolute;
  width: 65px;
  height: 61px;
  left: 820px;
  top: 214px;
  display: flex;
}
.Signinemail {
  left: 38%;
  top: 25.5rem;
  position: absolute;
  display: flex;
  width: 153.73px;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.SigninemailFormat {
  position: absolute;
  width: 100px;
  height: 16px;
  left: 41.5%;
  top: 26.2rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #c9e2ff;
  cursor: default;
}
.SigninemailInputBox {
  display: flex;
  left: 37.5%;
  top: 28rem;
  box-sizing: border-box;
  position: absolute;
  width: 440px;
  height: 47px;
  background: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  cursor: pointer;
  outline-style: none;
  padding-left: 7px;
  font-size: 18px;
}
.Signinpassword {
  display: flex;
  left: 38%;
  top: 33rem;
  position: absolute;
  width: 153.73px;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.SigninpasswordInputBox {
  /* 비밀번호 내용 입력 칸  */
  display: flex;
  left: 37.5%;
  top: 35.5rem;
  box-sizing: border-box;
  position: absolute;
  width: 440px;
  height: 47px;
  background: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  cursor: pointer;
  outline-style: none;
  padding-left: 7px;
  font-size: 18px;
}
.Signinbutton {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 110px;
  height: 41px;
  left: 804px;
  top: 700px;
  background: #fafcff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #5899f5;
  cursor: pointer;
}
.Signinnavigate {
  position: absolute;
  width: 198px;
  height: 18px;
  left: 890px;
  top: 630px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 310;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: default;
}
