.menu {
  /* 디자인의 왼쪽 바를 말함 */
  position: absolute;
  width: 218px;
  height: 832px;
  left: -12px;
  top: 0px;
}
.logo {
  position: absolute;
  width: 41px;
  height: 39px;
  left: 41px;
  top: 50px;
}
.keepname {
  /*로고 옆의 EEP를 말함 */
  position: absolute;
  width: 75.86px;
  height: 50.57px;
  left: 85px;
  top: 45px;
}
.navigate-field {
  position: absolute;
  width: 153px;
  height: 221px;
  left: 29px;
  top: 202px;
}
.hom {
  /* 홈 네비게이트 버튼 */
  position: absolute;
  width: 19px;
  height: 25px;
  left: 42px;
  top: 202px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.register {
  /* 도서/기기 등록 */
  position: absolute;
  width: 122px;
  height: 25px;
  left: 41px;
  top: 249px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.management {
  /* 도서/기기 관리 */
  position: absolute;
  width: 122px;
  height: 25px;
  left: 42px;
  top: 296px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.inputt {
  /* 학생 정보 입력 */
  position: absolute;
  width: 120px;
  height: 25px;
  left: 41px;
  top: 343px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #b6b7c0;
}
.info {
  /* 비상연락처 */
  position: absolute;
  width: 153px;
  height: 39px;
  left: 29px;
  top: 384px;
  background: #eef0fe;
  border-radius: 14px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #444e9d;
}
