.NavbarName {
  left: 83.6%;
  top: 3.2%;
  position: absolute;
  z-index: 99;
  border: 0.0625rem solid;
  width: 8.4375rem;
  height: 2.8125rem;
  border-radius: 1.5625rem;
  align-items: center;
  background: #5589fe;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1875rem;
  text-align: center;
  color: #ffffff;
  cursor: default;
  line-height: 2.3;
}
.NavbarLogout {
  position: absolute;
  display: flex;
  height: 1.5rem;
  left: 92.5%;
  top: 6%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.5rem;
  text-align: center;
  color: #5589fe;
  cursor: pointer;
}
.NavspanTag {
  position: absolute;
  top: 5.6%;
  left: 88%;
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #5589fe;
}
.NavSignupSpan,
.NavLoginSpan {
  cursor: pointer;
}
.NavdivisionBar {
  position: absolute;
  display: flex;
  top: 5.8%;
  left: 91.8%;
  width: 0.2rem;
  height: 2.5%;
  background: #5589fe;
  cursor: pointer;
  z-index: 999;
}
