.imgResultMent {
  position: absolute;
  display: flex;
  left: 0.3125rem;
  top: 14.375rem;
  font-size: 0.8125rem;
}

.RegistrationForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  width: 41rem;
  height: 31rem;
  z-index: 9999;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0 0.1875rem 1.25rem rgba(0, 0, 0, 0.25));
}

.RegistrationForm h2 {
  text-align: center;
}

.RegistrationForm form {
  display: flex;
}

.RegistrationForm label {
  margin-bottom: 0.625rem;
}

.RegistrationForm input,
.RegistrationForm select,
.RegistrationForm button {
  margin-top: 0.3125rem;
}
.input {
  margin-left: 0.625rem;
}
.Uproad {
  position: absolute;
  width: 9.3125rem;
  height: 6rem;
  left: 1.875rem;
  top: 5.625rem;
}
.DeviceEntryMent {
  position: absolute;
  width: 5.8125rem;
  height: 1.875rem;
  left: 35.55rem;
  top: 18.125rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  z-index: 99999;
  color: #181e36;
  cursor: default;
}
.DeviceEntryTitle {
  position: absolute;
  display: flex;
  width: 6.25rem;
  height: 1.375rem;
  left: 22.1875rem;
  top: 8.125rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.DeviceTitleInput {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  left: 22.1875rem;
  top: 9.375rem;
  width: 15.625rem;
  height: 2.125rem;
  border: none;
  border-bottom: 0.0625rem solid #000000;
  padding-left: 0.4375rem;
  font-size: 1.125rem;
  outline: none;
}

.UploadText {
  position: absolute;
  top: 12.5rem;
  text-decoration: underline;
  color: #5589fe;
}
