.UploadButton {
  position: absolute;
  align-self: center;
  background-color: #0cbc8b;
  padding-top: 0.1rem;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 350;
  font-size: 1rem;
  width: 6.4rem;
  height: 2.1rem;
  left: 55px;
  top: 190px;
}
.imgResultMent {
  position: absolute;
  display: flex;
  left: 5px;
  top: 230px;
  font-size: 13px;
}
.imgMent{
    position: absolute;
    display: flex;
    font-size: 14px;
    left: 50px;
    top: 57px;
    color: #0cbc8b;
    font-weight: 500;

}