.SearchBar {
  outline-style: none;
  position: absolute;
  width: 60%;
  height: 6.92%;
  left: 28.5%;
  top: 27%;
  padding: 0.5rem;
  font-size: 1.1875rem;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 0.0625rem solid #d7e2eb;
}
.SearchBar::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.3125rem;
  color: #cdd7e0;
}
