.bgimg {
  display: flex;
  position: absolute;
  border-radius: 0px 15px 15px 0px;
  left: 50rem;
  top: 55px;
}
.background {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    247.1deg,
    #6a79f8 8.99%,
    #8e99f2 33.96%,
    #bfc4f3 49.13%,
    #8e99f2 66.18%,
    #6a79f8 92.08%
  );
}
.brandName {
  position: absolute;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #444e9d;
}
.logo {
  position: absolute;
  left: 570px;
  top: 290px;
}