.Signupbackground {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.div {
  position: absolute;
  width: 1500px;
  height: 850px;
  left: 100px;
  top: 65px;
  background: rgba(88, 153, 245, 0.9);
  border-radius: 20px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.Signuplogo {
  position: absolute;
  width: 65px;
  height: 61px;
  left: 820px;
  top: 214px;
  display: flex;
}
.SignupbrandName {
  position: absolute;
  width: 305px;
  height: 75px;
  left: 780px;
  top: 275px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  display: flex;
  color: #ffffff;
  cursor: default;
}
.SignupnameInputBox {
  left: 37.5%;
  top: 25.5rem;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  width: 440px;
  height: 47px;
  background: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  outline-style: none;
  padding-left: 5px;
  cursor: pointer;
  outline-style: none;
  padding-left: 7px;
  font-size: 18px;
}
.SignupName {
  left: 38%;
  top: 23.5rem;
  position: absolute;
  display: flex;
  width: 153.73px;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.SignupemailInputBox {
  display: flex;
  left: 37.5%;
  top: 33rem;
  box-sizing: border-box;
  position: absolute;
  width: 440px;
  height: 47px;
  background: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  cursor: pointer;
  outline-style: none;
  padding-left: 7px;
  font-size: 18px;
}
.Signupemail {
  left: 38%;
  top: 31rem;
  position: absolute;
  width: 153.73px;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.SignuppasswordInputBox {
  left: 37.5%;
  top: 40.5rem;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  width: 440px;
  height: 47px;
  background: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  cursor: pointer;
  outline-style: none;
  padding-left: 7px;
  font-size: 18px;
}
.Signuppassword {
  left: 38%;
  top: 38.5rem;
  position: absolute;
  width: 153.73px;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.Signupchecktext {
  position: absolute;
  display: flex;
  width: 95px;
  height: 18px;
  left: 56%;
  top: 708px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  cursor: default;
}
.SignupcheckBox {
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 1050px;
  top: 708px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.Signupbutton {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  width: 110px;
  height: 41px;
  left: 804px;
  top: 750px;
  background: #fafcff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #5899f5;
  cursor: pointer;
}

.SignupgoBack {
  position: absolute;
  width: 100px;
  height: 21px;
  left: 200px;
  top: 140px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.backward {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 160px;
  top: 125px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.emailFormat {
  position: absolute;
  width: 100px;
  height: 16px;
  left: 41.5%;
  top: 31.3rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #c9e2ff;
  cursor: default;
}
