.StudentInfobar {
  /* 메인 탑바 대신 왼쪽바 */
  position: relative;
  height: 85rem;
}
.StudentInfoeep {
  /* eep */
  position: absolute;
  width: 5rem;
  height: 10rem;
  left: 10.5rem;
  top: 6.2rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 50px;
  text-align: center;
  color: #444e9d;
  z-index: 9999;
}
.StudentInfologo {
  /* KEEP 로고 */
  position: absolute;
  top: 6.25rem;
  left: 7rem;
  z-index: 9999;
}

.StudentInfodivisionBar {
  /* 로그인 회원가입 구분선 */
  position: relative;
  bottom: 79rem;
  left: 85.6rem;
  width: 5px;
}
.StudentInfospanTag {
  /* navigate 묶음 */
  position: relative;
  width: 146px;
  height: 24px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #444e9d;
}
.StudentInfoSignupSpan {
  /* 회원가입 navigate */
  position: relative;
  left: 110rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.StudentInfoLoginSpan {
  /* 로그인 navigate */
  position: relative;
  left: 99rem;
  bottom: 80.75rem;
  font-size: 23.9px;
  font-weight: 600;
}
.StudentInfohomeSpan {
  /* 홈 navigate */
  position: absolute;
  left: 5.2rem;
  bottom: 66rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
}
.StudentInfobookOfficerSpan {
  /* 도서 관리 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 62rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  text-align: center;
  z-index: 999;
  color: #8c8d97;
  font-weight: 600;
  font-size: 30px;
}
.StudentInfoDeviceSpan {
  /* 기기 관리 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 58rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
}
.studentInfoSpan {
  /* 학생 정보 입력 navigate */
  position: absolute;
  display: flex;
  left: 5.2rem;
  bottom: 54rem;
  width: 19rem;
  font-weight: 600;
  font-family: "Pretendard";
  font-style: normal;
  line-height: 25px;
  color: #444e9d;
  font-size: 35px;
  text-align: center;
  z-index: 99;
}
.StudentInfoEmergencySpan {
  /* 비상 연락처 navigate */
  display: flex;
  position: absolute;
  left: 5.2rem;
  bottom: 50rem;
  width: 19rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #8c8d97;
}
.StudentInfoment {
  /* 학생정보입력 ment */
  position: absolute;
  width: 14rem;
  height: 2.5rem;
  left: 31rem;
  top: 10rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #182149;
}
.StudentInfoment2 {
  /* 손쉽게 학생 정보를 확인하세요. */
  position: absolute;
  width: 20rem;
  height: 1rem;
  left: 31.2rem;
  top: 12.9rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #424242;
}
.StudentInfobuttonBack {
  /* navigate 백그라운드 색깔 영역을 말함 */
  left: 3.5rem;
  z-index: 99;
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 30rem;
}\\
.group-wrapper {
  background-color: #f5f6f8;
  height: 832px;
  width: 1280px;
}

.group {
  height: 470px;
  left: 310px;
  position: relative;
  top: 250px;
  width: 890px;
}

.overlap-group {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #00000040;
  height: 470px;
  position: relative;
  width: 882px;
}

.rectangle {
  background-color: #f8f9fa;
  border: 2px dashed;
  border-color: #c0c0c0;
  border-radius: 25px;
  height: 388px;
  left: 30px;
  position: absolute;
  top: 41px;
  width: 819px;
}

.div {
  color: transparent;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 30px;
  left: 326px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 179px;
  width: 392px;
}

.text-field {
  color: #000000;
}

.span {
  color: #1967d2;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  text-decoration: underline;
}

.text-field-2 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 572px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 370px;
  width: 94px;
}

.element {
  height: 116px;
  left: 156px;
  position: absolute;
  top: 136px;
  width: 132px;
}

.line {
  height: 2px;
  left: 55px;
  position: absolute;
  top: 338px;
  width: 349px;
}

.img {
  height: 2px;
  left: 477px;
  position: absolute;
  top: 338px;
  width: 349px;
}

.rectangle-2 {
  background-color: #ffffff;
  border: 0.3px solid;
  border-color: #000000;
  border-radius: 23px;
  box-shadow: inset 1px 1px 1px #0000001a;
  height: 47px;
  left: 680px;
  position: absolute;
  top: 358px;
  width: 143px;
}

.text-field-3 {
  color: #1c73e8;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 26px;
  left: 713px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 369px;
  white-space: nowrap;
}

.text-field-4 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 427px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 327px;
  white-space: nowrap;
}
