.StudentInfobar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.StudentInfoeep {
  position: absolute;
  top: 4.3%;
  left: 6.2%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 3.3125rem;
  color: #5899f5;
  z-index: 99;
  cursor: default;
}
.StudentInfologo {
  position: absolute;
  top: 5%;
  left: 3.2%;
  max-width: 10rem;
  z-index: 99;
  width: 3rem;
}
.StudentInfobackground {
  background-color: #f5f6f8;
  height: 68.5rem;
}

.StudentInfodivisionBar {
  position: absolute;
  top: 5.8%;
  left: 92.9%;
  width: 0.2rem;
  height: 2.5%;
  background: #5899f5;
}
.StudentInfoLoginSpan {
  cursor: pointer;
  position: absolute;
  top: 5.6%;
  right: 3.15%;
  align-self: start;
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #5899f5;
}
.StudentInfoSignupSpan {
  position: absolute;
  top: 5.6%;
  right: 7.45%;
  align-self: start;
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #5899f5;
  cursor: pointer;
}
.StudentInfohomeSpan {
  position: absolute;
  left: 3%;
  top: 28%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.StudentInfobookOfficerSpan {
  position: absolute;
  left: 3%;
  top: 33.5%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.StudentInfoDeviceSpan {
  position: absolute;
  display: flex;
  top: 40%;
  left: 3%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  z-index: 99;
  cursor: pointer;
}
.studentInfoSpan {
  position: absolute;
  display: flex;
  left: 2.9%;
  top: 46%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.55vw;
  color: #5899f5;
  z-index: 99;
  cursor: pointer;
}

.StudentInfoEmergencySpan {
  position: absolute;
  display: flex;
  left: 3%;
  width: 19%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.55vw;
  color: #8c8d97;
  z-index: 99;
  top: 52%;
  cursor: pointer;
}
.StudentInfoment {
  position: absolute;
  top: 18%;
  left: 28.7%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 2.0625rem;
  color: #000;
  cursor: default;
}
.StudentInfoment2 {
  position: absolute;
  top: 22%;
  left: 28.7%;
  width: 30%;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  cursor: default;
}
.StudentInfobuttonBack {
  position: absolute;
  top: 44.8%;
  left: 1.7%;
  width: 12rem;
  height: 3.5rem;
  z-index: 99;
}
.StudentInfoContent {
  position: absolute;
  left: 34rem;
  top: 16rem;
}
.StudentInfoUploadWrapper {
  width: 882px;
  height: 470px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.StudentInfoUpload {
  width: 819px;
  height: 388px;
  border-radius: 25px;
  border: 2px dashed #c0c0c0;
  background: #f8f9fa;
  border-radius: 25px;
  border: 2px dashed #c0c0c0;
  background: #f8f9fa;
}
.StudentInfoUploadTop {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.StudentInfoUploadMiddle {
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.StudentInfoUploadBottom {
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}
.StudentInfoUploadTopImage {
  width: 132px;
  height: 116px;
}
.StudentInfoUploadTopText {
  color: #000;
  text-align: justify;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.StudentInfoUploadTopLink {
  color: #1967d2;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  cursor: default;
}
.StudentInfoUploadLine {
  width: 349px;
  height: 1.5px;
  background: #c0c0c0;
}
.StudentInfoUploadOr {
  color: #000;
  text-align: justify;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.StudentInfoUploadBottomText {
  color: #000;
  text-align: justify;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.StudentInfoUploadBottomButton {
  width: 143px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 23px;
  border: 0.3px solid #000;
  background: #fff;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c73e8;
  text-align: justify;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 26px;
  cursor: pointer;
}
.StudentInfoUploadInput {
  display: none;
}
