
.StudentInfobackground {
  background-color: #f5f6f8;
  height: 68.5rem;
}

.StudentInfodivisionBar {
  position: absolute;
  top: 5.8%;
  left: 92.9%;
  width: 0.2rem;
  height: 2.5%;
  background: #5589fe;
}

.StudentInfohomeSpan {
  position: absolute;
  left: 3%;
  top: 28%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.StudentInfobookOfficerSpan {
  position: absolute;
  left: 3%;
  top: 33.5%;
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.StudentInfoDeviceSpan {
  position: absolute;
  display: flex;
  top: 40%;
  left: 3%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 99;
  cursor: pointer;
}
.studentInfoSpan {
  position: absolute;
  display: flex;
  left: 2.9%;
  top: 46%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.65vw;
  color: #5589fe;
  z-index: 99;
  cursor: pointer;
}

.StudentInfoEmergencySpan {
  position: absolute;
  display: flex;
  left: 3%;
  width: 19%;
  font-family: "Pretendard";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.65vw;
  color: #b6b7c0;
  z-index: 99;
  top: 52%;
  cursor: pointer;
}
.StudentInfoment {
  position: absolute;
  top: 18%;
  left: 28.7%;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 2.0625rem;
  color: #000;
  cursor: default;
}
.StudentInfoment2 {
  position: absolute;
  top: 22%;
  left: 28.7%;
  width: 30%;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  cursor: default;
}
.StudentInfobuttonBack {
  position: absolute;
  top: 44.8%;
  left: 1.7%;
  width: 12rem;
  height: 3.5rem;
  z-index: 99;
}
.StudentInfoContent {
  position: absolute;
  left: 34rem;
  top: 16rem;
}
.StudentInfoUploadWrapper {
  width: 55.125rem;
  height: 29.375rem;
  border-radius: 1.5625rem;
  background: #fff;
  box-shadow: 0.125rem 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.StudentInfoUpload {
  width: 51.1875rem;
  height: 24.25rem;
  border-radius: 1.5625rem;
  border: 0.125rem dashed #c0c0c0;
  background: #f8f9fa;
  border-radius: 1.5625rem;
  border: 0.125rem dashed #c0c0c0;
  background: #f8f9fa;
}
.StudentInfoUploadTop {
  width: 100%;
  height: 18.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.375rem;
}
.StudentInfoUploadMiddle {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4375rem;
}
.StudentInfoUploadBottom {
  width: 100%;
  height: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.875rem;
}
.StudentInfoUploadTopImage {
  width: 8.25rem;
  height: 7.25rem;
}
.StudentInfoUploadTopText {
  color: #000;
  text-align: justify;
  font-family: "Pretendard";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.StudentInfoUploadTopLink {
  color: #5589fe;
  font-family: "Pretendard";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  cursor: default;
}
.StudentInfoUploadLine {
  width: 21.8125rem;
  height: 0.09375rem;
  background: #c0c0c0;
}
.StudentInfoUploadOr {
  color: #000;
  text-align: justify;
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.StudentInfoUploadBottomText {
  color: #000;
  text-align: justify;
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.StudentInfoUploadBottomButton {
  width: 8.9375rem;
  height: 2.9375rem;
  flex-shrink: 0;
  border-radius: 1.4375rem;
  border: 0.01875rem solid #000;
  background: #fff;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5589fe;
  text-align: justify;
  font-family: "Pretendard";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 1.625rem;
  cursor: pointer;
}
.StudentInfoUploadInput {
  display: none;
}
.StudentInfoUploadInput {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
