.ContentArea {
  flex: 1;
  padding: 1.25rem;
  height: 59.375rem;
}

.ViewForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  width: 41rem;
  height: 31rem;
  z-index: 9999;
  background: rgb(255, 255, 255);
  filter: drop-shadow(0 0.1875rem 1.25rem rgba(0, 0, 0, 0.25));
}
.ViewMent {
  position: absolute;
  width: 5.8125rem;
  height: 1.875rem;
  left: 3.75rem;
  top: 4.375rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #181e36;
  cursor: default;
  margin-bottom: 1.25rem;
}
.ViewbookName {
  position: absolute;
  display: flex;
  width: 6.25rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 9.0625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.ViewAuthor {
  position: absolute;
  width: 6.25rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 13.75rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
  cursor: default;
}
.ViewbookDate {
  position: absolute;
  width: 9.375rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 18.4375rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
  cursor: default;
}
.Viewreturner{
  position: absolute;
  width: 9.375rem;
  height: 1.375rem;
  left: 4rem;
  top: 27rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1rem;
  cursor: default;
}
.ViewNameInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 11.25rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}

.ViewAuthorInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 15.9375rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.ViewReturnerInput{
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 10.1rem;
  top: 26.95rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.EntryDetailItem {
  margin-bottom: 0.9375rem;
}

.EntryDetailItem label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}
.ViewDateInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 20.625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.SaveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  width: 4.5rem;
  height: 2.4375rem;
  left: 33.75rem;
  top: 26.875rem;
  background: #5589fe;
  border-style: none;
  border-radius: 0.625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3125rem;
  color: #ffffff;
  cursor: pointer;
}
.SaveButton button:hover {
  background-color: #186eb4;
}
.CancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  width: 4.5rem;
  height: 2.4375rem;
  left: 28.75rem;
  top: 26.875rem;
  background: #dee8f5;
  border-style: none;
  border-radius: 0.625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3125rem;
  color: #000000;
  cursor: pointer;
}
.BookImagePreview {
  box-sizing: border-box;
  position: absolute;
  width: 13.75rem;
  height: 17.8125rem;
  left: 3.75rem;
  top: 8.75rem;
  border: 0.025rem solid #5c5c5c;
  border-radius: 0.625rem;
  z-index: 99999;
  object-fit: cover;
}
