.ViewDeviceForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  width: 41rem;
  height: 31rem;
  z-index: 999;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ViewDeviceMent {
  position: absolute;
  width: 93px;
  height: 30px;
  left: 60px;
  top: 75px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #181e36;
  cursor: default;
}

.ViewDeviceName {
  position: absolute;
  display: flex;
  width: 100px;
  height: 22px;
  left: 345px;
  top: 145px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
}
.ViewRegistrationDate {
  position: absolute;
  width: 150px;
  height: 22px;
  left: 345px;
  top: 220px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
}
.ViewDeviceInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 345px;
  top: 180px;
  font-family: "Pretendard" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;
  color: #000000 !important;
  outline: none;
}
.DeviceViewDateInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 345px;
  top: 253px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  outline: none;
}
.DeviceImagePreview {
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  height: 285px;
  left: 60px;
  top: 140px;
  border: 0.4px solid #5c5c5c;
  border-radius: 10px;
}
