.ContentArea {
  flex: 1;
  padding: 20px;
  height: 950px;
}

.ViewForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  width: 41rem;
  height: 31rem;
  z-index: 9999;
  background: rgb(255, 255, 255);
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.25));
}
.ViewMent {
  position: absolute;
  width: 93px;
  height: 30px;
  left: 60px;
  top: 70px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #181e36;
  cursor: default;
  margin-bottom: 20px;
}
.ViewbookName {
  position: absolute;
  display: flex;
  width: 100px;
  height: 22px;
  left: 345px;
  top: 145px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
}
.ViewAuthor {
  position: absolute;
  width: 100px;
  height: 22px;
  left: 345px;
  top: 220px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
  cursor: default;
}
.ViewbookDate {
  position: absolute;
  width: 150px;
  height: 22px;
  left: 345px;
  top: 295px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
  cursor: default;
}
.ViewNameInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 345px;
  top: 180px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  outline: none;
}

.ViewAuthorInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 345px;
  top: 255px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  outline: none;
}

.EntryDetailItem {
  margin-bottom: 15px;
}

.EntryDetailItem label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.ViewDateInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 345px;
  top: 330px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  outline: none;
}
.SaveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  width: 72px;
  height: 39px;
  left: 540px;
  top: 430px;
  background: #5589fe;
  border-style: none;
  border-radius: 10px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17.6px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}
.SaveButton button:hover {
  background-color: #186eb4;
}
.CancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  width: 72px;
  height: 39px;
  left: 460px;
  top: 430px;
  background: #dee8f5;
  border-style: none;
  border-radius: 10px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17.6px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
.BookImagePreview {
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  height: 285px;
  left: 60px;
  top: 140px;
  border: 0.4px solid #5c5c5c;
  border-radius: 10px;
  object-fit: cover;
}
