.ViewForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  width: 37rem;
  height: 27rem;
  z-index: 9999;
  background: rgba(255, 255, 255, 1);
  border: #000000 1px solid;
}
.ViewMent {
  position: absolute;
  display: flex;
  z-index: 9999;
  width: 93px;
  height: 30px;
  left: 70px;
  top: 60px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #181e36;
  cursor: default;
}
.ViewbookName {
  position: absolute;
  width: 100px;
  height: 22px;
  left: 320px;
  top: 120px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
  cursor: default;
}
.ViewAuthor {
  position: absolute;
  width: 100px;
  height: 22px;
  left: 320px;
  top: 195px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
  cursor: default;
}
.ViewbookDate {
  position: absolute;
  width: 150px;
  height: 22px;
  left: 320px;
  top: 270px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  color: #000000;
  font-size: 22px;
  cursor: default;
}
.ViewNameInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  right: 10.8%;
  top: 149px;
  font-family: "Pretendard" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;
  color: #000000 !important;
  outline: none;
}

.ViewAuthorInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  right: 10.8%;
  top: 225px;
  font-family: "Pretendard" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;
  color: #000000 !important;
  outline: none;
}
.ViewDateInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  right: 11%;
  top: 300px;
  font-family: "Pretendard" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 22px !important;
  line-height: 24px !important;
  color: #000000 !important;
  outline: none;
}
.SaveButton {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  z-index: 9999;
  position: absolute;
  width: 72px;
  height: 39px;
  left: 490px;
  top: 370px;
  background: #2c99f5;
  border-style: none;
  border-radius: 10px !important;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17.6px !important;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}
.SaveButton button:hover{
    background-color: #186eb4;
}
.CancelButton {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  z-index: 9999;
  position: absolute;
  width: 72px;
  height: 39px;
  left: 412px;
  top: 370px;
  background: #dee8f5;
  border-style: none;
  border-radius: 10px !important;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17.6px !important;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
.BookImagePreview {
  box-sizing: border-box;
  position: absolute;
  width: 203px;
  height: 245px;
  left: 60px;
  top: 120px;
  border: 0.4px solid #5c5c5c;
  border-radius: 10px;
}
