.ViewDeviceForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  width: 41rem;
  height: 31rem;
  z-index: 999;
  background: rgba(255, 255, 255, 1);
}
.ContentArea {
  background-color: #fff;
}

.ViewDeviceMent {
  position: absolute;
  width: 5.8125rem;
  height: 1.875rem;
  left: 3.75rem;
  top: 4.6875rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #181e36;
  cursor: default;
}

.ViewDeviceName {
  position: absolute;
  display: flex;
  width: 6.25rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 9.0625rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.ViewRegistrationDate {
  position: absolute;
  width: 9.375rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 13.75rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.ViewRegistrationReturner{
  position: absolute;
  width: 9.375rem;
  height: 1.375rem;
  left: 21.5625rem;
  top: 18.15rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
  color: #000000;
  font-size: 1.375rem;
}
.ViewDeviceInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 11.25rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.DeviceViewDateInput {
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 15.8125rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}
.DeviceViewReturnerInput{
  border-style: none;
  position: absolute;
  display: flex;
  z-index: 999;
  left: 21.5625rem;
  top: 20.3rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  outline: none;
}

.DeviceImagePreview {
  box-sizing: border-box;
  position: absolute;
  width: 13.75rem;
  height: 17.8125rem;
  left: 3.75rem;
  top: 8.75rem;
  border: 0.025rem solid #5c5c5c;
  border-radius: 0.625rem;
  object-fit: cover;
}
