.back {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    247.1deg,
    #6a79f8 8.99%,
    #8e99f2 33.96%,
    #bfc4f3 49.13%,
    #8e99f2 66.18%,
    #6a79f8 92.08%
  );
}
